
div.container {
  display: grid;
  height: 90vh;
  grid-template-rows: 1fr 3fr;
  z-index: 4;
  margin-right: 50%;
 
}


div.discount {
  grid-column: 1/3;
  grid-row: 1/5;
  height: 100%;
  width: 47vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: deepskyblue;
  background-image: url(../src/images/image.png);
 background-position: 200px;
 
}


div.network {
  grid-column: 3/5;
  grid-row: 1/4;
  background-size: 500px;
  background-repeat: no-repeat;
  background: #fff;

  width: 47vw; 
}
.list1{
  padding-left: 30%;
  margin-top: 40%;
  color: white;
  
}
.list2{
  padding-left: 30%;
  margin-top: 5%;
  color: white;
  ;
}
.list3{
  padding-left: 30%;
  margin-top: 5%;
  color: white;
   
}
.form{
  
  margin-left: 20%;
  margin-top: 3%;

}

.log{
margin-left: 3%;
border-radius: 10vh;
font-weight: bold;
width: auto;
background-color: #fff;
border: 1px solid #1da1f2;
color: #1da1f2;
padding: 3%;
-webkit-appearance: button;
cursor: pointer;
}
.log:hover{
  background-color: #89c5eb;
}


.input{
  color: black;
  padding: 10px;
  font-size: 100%;
  background-color: #e6ecf0;
   border: 1px solid #e6ecf0;
  border-radius: 3px;
}
.input1{
 margin-left: 3%;
color: black;
 padding: 10px;
 background-color: #e6ecf0;
 border: 1px solid #e6ecf0;
   border-radius: 3px;
}
.forgot{
  margin-left: 40%;
  color: #e6ecf0;
  font-weight: bold;
}
.forgot:hover{
  background-color: lightblue;
}
.button{
  margin-top: 60%;
  box-sizing: border-box;
  padding:1%;
  -webkit-appearance: button;
cursor: pointer;
font-weight: bold;
border-radius: 10%;
text-align: center;

  
}
.sign{
  margin-top: 8%;
  margin-left: 2%;
 margin-bottom: 16px;
  padding: 2%;
  width: 70%;
  -webkit-appearance: button;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  color: #fff;
  background-color: deepskyblue;
  border-radius: 10vh;
  
}
.sign:hover{
 background-color: blue; 
}
.in{
  margin-left: 2%;
  padding: 2%;
  width: 70%;
  -webkit-appearance: button;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  background-color: #fff;
  border-radius: 100px;
  
}
.in:hover{
  background-color: rgb(232, 240, 254)
}
.logo{
background-image: url('../src/images/images.jpg');  
background-size: 15%;
padding-bottom: 25%;
background-repeat: no-repeat;
margin-top: 10%;
margin-left: 5%;
}
.go{
  margin-bottom: 20%;
  margin-left: 10%;
  font-weight: bold;
  color: black;
  line-height: .10;
}
.join{
  margin-top: 10%;

}